* {
  border: 1px solid teal;
}
body {
  background: lightgray;
}
/**********************************
  container class style
***********************************/
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 100vh;
}
/**********************************************
  style for top and bottom items in container
***********************************************/
.a, .c {
  flex-grow: 1;
}
/**********************************************
  style for middle item in container
***********************************************/
.b {
  flex-grow: 3;
}
/**********************************************
  style for all items in container
***********************************************/
.a, .b, .c {
  background-color: silver;
  margin: .5em;
  text-align: center;
  align-content: center;
}
/**********************************
  media query
***********************************/
@media (min-width: 600px) {
  .container {
    flex-flow: row wrap;
    align-content: stretch;
  }
  .a {
    width: 100%;
    min-height: 20px;
  }
  .a, .b, .c {
    margin: .5em;
  }
  .b, .c {
    min-height: 200px;
  }
}